{% extends "summary.html" %}

{% block content %}
	<div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">Tendencia a resumir</h3>
              </div>
              <div class="alert alert-warning trend" title="{{dato.id}}">
                <strong>NOMBRE:</strong> {{ trend.name }}.
              </div>
           
              <div class="alert alert-warning">
                <strong>Catidad de total de tuits:</strong> {{ cantidad }}
              </div>

              <div class="alert alert-warning">
                <strong>Catidad de tuits de la tendencia:</strong> {{ cantidad_status_list }}
              </div>

              {% if status_list %}
                <div class="panel-body list-group">
                  {% for status in status_list %}       
                    <a  class="list-group-item " title="">{{ status.text }}</a>   
                  {% endfor %}
                </div>
              {% else %}
                <p>No hay tuits disponibles</p>
              {% endif %}
  </div>
{% endblock %}
