<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{STATIC_URL}}/../assets/ico/favicon.ico">

    <title>Home</title>
        <!-- Bootstrap core CSS -->
         <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
      

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    
    <link href="{{ STATIC_URL }}bootstrap/css/carousel.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
     <script type="text/javascript">
    // <![CDATA[
      
    $(document).ready(function () {
         $( ".list-group-item" ).click(function() {
         if ($( this ).hasClass("active trend")) {
                $( this ).removeClass('active trend');
              } else {
                $( ".list-group-item" ).removeClass('active trend')
                $( this ).addClass( "active trend" ); 
              } 
         });

         $( "#resumir" ).click(function() {
          var idTrend = ($( ".trend" ).attr( "title" ));
          if(idTrend){
            idTrend = idTrend.replace('#','');
            var url = "/rtuit/"+idTrend+"summary/";
            
            window.location.replace(url);
          } else {
            alert("Debe seleccionar una Tendencia")
          }
         });
         
     });
    
  </script>
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">#ResumidorTuits</a>
            </div>
            
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="rtuit/informacion/">Informaci&oacute;n</a></li>

              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          
          <div class="container">
            <div class="carousel-caption">
              <h1>#Petro</h1>
              <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
              <p><a class="btn btn-lg btn-primary" href="/rtuit/54a47dc9d6d12e02e32248d5/summary/" role="button">#RESUMIR</a></p>


            </div>
          </div>
        </div>
        <div class="item">
          
          <div class="container">
            <div class="carousel-caption">
              <h1>#Loquecallanlostuits</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="/rtuit/54a47dc9d6d12e02e32248d5/summary/" role="button">#RESUMIR</a></p>
              </div>
          </div>
        </div>
        <div class="item">
          
          <div class="container">
            <div class="carousel-caption">
              <h1>#OtraExcusa</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="/rtuit/54a47dc9d6d12e02e32248d5/summary/" role="button">#RESUMIR</a></p>
             
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing">
      <div class="row marketing">
        <div class="col-sm-4">
          <img class="featurette-image img-responsive" src="{{ STATIC_URL }}bootstrap/img/resumidortuits.png" alt="#ResumidorTuits">
        </div>
       <div class="col-sm-4">
         <div class="panel panel-info scrolls">
              <div class="panel-heading">
                <h3 class="panel-title">Tendencias</h3>
              </div>
              {% include "messages.html" %}
              {% block content %}{% endblock %}

              
            </div>
        </div>
        
        <div class="col-sm-4 ">
          <p>
           <img class="featurette-image img-responsive" src="{{ STATIC_URL }}bootstrap/img/loudin.png" alt="#ResumidorTuits">
           </p>
          <p class="boo">
          <a class="btn btn-lg btn-primary" id="resumir" role="button">#RESUMIR</a></p>
         
        </div>
        

      </div>
      <hr class="featurette-divider">

      <!-- FOOTER -->
      <footer>
        
        <p>&copy; 2015 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>

    
  </body>
</html>




